/* hamburger bounce  */
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

/* slideFromRight */

@-webkit-keyframes slideFromRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  25% {
    transform: translateX(-50%);
    opacity: 0.5;
  }
  50% {
    transform: translateX(30%);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  25% {
    transform: translateX(-50%);
    opacity: 0.5;
  }
  50% {
    transform: translateX(30%);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* slideFromLeft */

@-webkit-keyframes slideFromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  25% {
    transform: translateX(50%);
    opacity: 0.5;
  }
  50% {
    transform: translate(-30%);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1s;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  25% {
    transform: translateX(50%);
    opacity: 0.5;
  }
  50% {
    transform: translate(-30%);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1s;
  }
}

/* show hero btn */

@-webkit-keyframes show {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
